<!--
Cette popup est utilisable pour les alertes et les messages
-->

<!--
Masque transparent
-->
<div class="popup-masque" data-ng-click="cancel()"></div>

<!--
Popup personalisable
-->
<div class="popup animated bounceInDown {{popup.class}}">

    <header class="header">
        {{popup.titre}}
    </header>

    <div class="content">
        {{popup.message}}
    </div>

    <footer class="footer">
        <button data-ng-click="confirm()" class="btn">
            {{popup.boutons.confirm.titre}}
        </button>

        <button data-ng-click="cancel()" class="btn">
            {{popup.boutons.cancel.titre}}
        </button>
    </footer>
</div>