<div class="search-ps animated bounceInDown">

    <form novalidate>

        <header class="header">
            <h1 class="titre">Rechercher</h1>
        </header>

        <div class="content">

            <select id="type">
                <option>Professionnel de sante</option>
                <option>Etablissement</option>
            </select>

            <input type="text" placeholder="Nom" id="nom">

            <input type="text" placeholder="Profession" id="profession">

            <input type="text" placeholder="Acte" id="acte">

            <input type="text" placeholder="Localisation" id="localisation">

        </div>

        <footer class="footer">
            <button type="submit" class="btn large">
                Rechercher
            </button>
        </footer>

    </form>

</div>

