<div class="detail-rdv animated bounceInDown">

    <header class="header">

        <div class="avatar" style="background-image:url({{item.beneficiaire.avatar}})"></div>

        <div class="date" data-ng-click="changeDate()">
            {{item.date| date:"dd/MM/yyyy"}}
        </div>

        <div class="heure" data-ng-click="changeDate()">
            {{item.date| date:"hh:mm"}}
        </div>

    </header>

    <div class="content">

        <!--
Etat et détail du remboursement
        -->
        <div class="remboursement {{item.etat}}">

            <div class="etat">
                <div class="{{item.etat}}"></div>
            </div>

            <div data-ng-if="item.etat === true" class="date">{{item.remboursement.date| date:'dd/MM/yyyy'}}</div>

            <div data-ng-if="item.etat === true" class="montant">{{item.remboursement.montant| currency:'':2}} €</div>

            <div data-ng-if="item.etat === false" class="message">En attente</div>

        </div>

        <h4 class="titre">{{item.titre}}</h4>

        <div class="numero">{{item.numero}}</div>

        <address class="adresse">{{item.adresse}}</address>

        <a href="tel:{{item.telephone}}" class="telephone">{{item.telephone}}</a>

        <!--
        Redirige vers Google Maps. Lance l'application si installée sinon le navigateur.
        -->
        <a data-ng-href="https://www.google.fr/maps/dir/ma+position/{{item.adresse}}" target="_blank" class="itineraire">Itinéraire</a>

        <!--
        ngMap : A FAIRE : quel est l'intérêt d'avoir une carte ici ?
        -->
        <map data-ng-hide="true" class="maps" center="{{item.adresse}}" zoom="14" disable-default-u-i="true"></map>

        <blockquote class="notes">
            <h3>Notes</h3>
            <textarea data-ng-model="item.notes">{{item.notes}}</textarea>
        </blockquote>

    </div>

    <footer class="footer">

        <button class="btn warning" data-ng-click="duplicateEvenement()">

            <embed src="img/add.svg" type="image/svg+xml" id="btn-1" onload="svgFill(this.id, 'Core', 'green')" class="icon" />
        </button>

        <button class="btn success" data-ng-click="archiveEvenement()">

            <embed src="img/archive.svg" type="image/svg+xml" id="btn-2" onload="svgFill(this.id, 'Core', 'gray')" class="icon" />
        </button>

        <button class="btn danger" data-ng-click="deleteEvenement()">

            <embed src="img/delete.svg" type="image/svg+xml" id="btn-3" onload="svgFill(this.id, 'Core', 'red')" class="icon" />
        </button>

    </footer>

</div>

<!--
Reçoit les popup : voir directives.js
-->
<popup ng-translude></popup>

<script>
    /*
     * Permet de changer la couleur de remplissage d'un élément du fichier SVG.
     *
     * @idSVG : id de l'image
     * @idElement : id de l'élement à colorer dans le SVG
     * @color : couleur à utiliser
     */
    var svgFill = function (idSVG, idElement, color){

        var svg = document.getElementById(idSVG);

        var element = svg.getSVGDocument().getElementById(idElement);

        element.setAttribute("fill", color);
    };
</script>